:root {
    --main-bg-color: #0f2537;
    --main-dark-color: rgb(32,55,76);
    --main-font-color: rgb(255,193,7);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--main-font-color);
}

html {
    background-color: var(--main-bg-color);
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--main-dark-color);
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

h1 {
    font-size:50px;
    text-align: center;
}

h2 {
    font-size:40px; 
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--main-font-color);
}

.navigation {
    flex: 1;
}
.navigation__container {
    display: flex;
    justify-content: flex-end;
}
.navigation__item {
    padding: 0 20px;
}

main {
    margin-top: 20px;
}
#main-info {
    height: calc(90vh - 20px);
    display: flex;
}

.main-info__photo {
    display: block;
    margin: auto;
    width: 290px;
    height: 480px;
}

.main-info__greeting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    text-align: center;
}
.main-info__position {
    border-bottom: none;
}
.main-info__contact-btn {
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid var(--main-font-color);
    transition: all 0.3s;
}
.main-info__contact-btn:hover {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
}
.contacts__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.contacts__item {
    padding: 20px;
    padding-left: 50px;
    border: 2px solid var(--main-font-color);
    position: relative;
}
.contacts__item > .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: large;
}
.contacts__item:hover {
    background-color: var(--main-dark-color);
}
